[mysqld]
server-id=2
log-bin=mysql-bin
log-slave-updates=1
datadir=/var/lib/mysql

innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_buffer_pool_size = 1G
innodb_log_file_size = 128M

auto_increment_increment=2
auto_increment_offset=2

read-only=1

slave-skip-errors = 1062
skip-host-cache
skip-name-resolve